contador.html
video3.mp4
.overlay{
    display: none;
{
.painel{
    width:624px;
    height:312px;

    transform: scale(3.05); /* AJUSTAR MANUALMENTE */
    transform-origin: top left;

    position:absolute;
    top:0;
    left:0;
}












