/* Esconder overlay (clareamento) */
.overlay {
    display: none;
}

/* Painel */
.painel {
    width: 624px;
    height: 312px;

    position: absolute;
    top: 0;
    left: 0;

    transform: scale(3.05); /* ajuste se precisar */
    transform-origin: top left;
}
